<head>
  <script async src="/js/app.js"></script>
</head>
<header>
  <h1>{{ title }}</h1>
  <div class="links">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
  </div>
</header>
